@mixin user-list {
    .user-list-single {
        align-content: center;
        align-items: center;
        background: transparent;
        border-bottom: 1px solid $whitish;
        display: flex;
        padding: .25rem 0;
        vertical-align: middle;

        &:last-child {
            border: 0;
        }
    }
    .user-list-avatar {
        flex-basis: 3rem;
        margin-right: .25rem;
        max-height: 3rem;
        max-width: 3rem;
        img {
            width: 100%;
        }
    }
    .user-list-name {
        @include font-type(light);
        color: $grayer;
        margin-left: .5rem;
    }
}
